<!DOCTYPE html>
<html>

<head>
  <title>StoryGPT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Open+Sans&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.4"></script>
</head>

<body>
  <div id="app" class="container">
    <h1>StoryGPT</h1>

    <div class="card api-key">
      <label for="api_key" class="label-inline">API Key:</label>
      <input type="text" id="api_key" v-model="apiKey" placeholder="Enter your OpenAI API key" class="input-inline">
    </div>

    <div class="card pre-prompt">
      <label for="prePromptSelection" class="label-inline">Pre-Prompt:</label>
      <select id="prePromptSelection" v-model="prePrompt" @change="handlePrePromptChange" class="select-inline">
        <option value="new">New Story</option>
        <option value="continue">Continue Story</option>
        <option value="custom">Custom</option>
        <option value="none">None</option>
      </select>
      <div v-if="prePrompt === 'custom'">
        <input type="text" v-model="customPrePrompt" placeholder="Enter your custom pre-prompt">
      </div>
    </div>

    <div class="card story" v-if="prePrompt !== 'new' || storyGenerated">
      <label class="storyLabel" for="story">Story:</label>
      <span class="token-count">Word count: {{ storyTokenCount }}</span>
      <textarea id="story" rows="10" cols="50" v-model="story"></textarea>
    </div>

    <div class="card prompt">
      <label for="prompt">Writing Prompt:</label>
      <textarea id="prompt" rows="6" cols="50" v-model="prompt"
        placeholder="Enter the writing prompt for the next chapter or scene"></textarea>
    </div>

    <div class="card">
      <label for="guidelines">Guidelines:</label>
      <textarea id="guidelines" rows="4" cols="50" v-model="guidelines"
        placeholder="Enter post-prompt writing guidelines"></textarea>
    </div>

    <div class="card settings">
      <div>
        <label for="temperature" class="label-inline">Temperature:</label>
        <input type="number" id="temperature" v-model="temperature" min="0" max="1" step="0.1" class="input-inline">
      </div>
      <div>
        <label for="frequency_penalty" class="label-inline">frequency_penalty:</label>
        <input type="number" id="frequency_penalty" v-model="frequency_penalty" min="0" max="1" step="0.01"
          class="input-inline">
      </div>
      <div>
        <label for="max_tokens" class="label-inline">Max Tokens:</label>
        <input type="number" id="max_tokens" v-model="maxTokens" min="1" step="1" class="input-inline">
      </div>
    </div>
    <button v-if="!loading" @click="generateStory" class="generate-btn">Generate</button>
    <div v-else class="loading-indicator">
      <i class="fas fa-spinner fa-spin"></i> Generating...
    </div>
  </div>
  <script src="storygpt.js"></script>
</body>

</html>